// Navigation Styles here

.header{
    border-bottom: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .text-content{
        .nav{
            a{
                text-decoration: none;
                color: black;
                background-color: red;
            }
           

        }
    }
    
}